/.vs
/Afip.Data/bin
/Afip.Data/obj
/Afip.Services/bin
/Afip.Services/obj
/Afip.WebApi/bin
/Afip.WebApi/obj
/ElPrado.Core/bin
/ElPrado.Core/obj
/ElPrado.Data/bin
/ElPrado.Data/obj
/ElPrado.DataFactory/bin
/ElPrado.DataFactory/obj
/ElPrado.Dto/bin
/ElPrado.Dto/obj
/ElPrado.Reports/bin
/ElPrado.Reports/obj
/ElPrado.Services/bin
/ElPrado.Services/obj
/ElPrado.WebApi/bin
/ElPrado.WebApi/obj
/ElPrado.Workers/bin
/ElPrado.Workers/obj
/ElPrado.WebApi/appsettings.Development.json
/ElPrado.Workers/workersettings.Development.json
appdata
logs
